@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = this.Request.RawUrl, UserOff = User.Identity.GetUserName() }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{                
                    var pathToFile = "~/Content/images/profile/" + User.Identity.GetUserName() + "/" + User.Identity.GetUserName() + ".png";
                    if (!File.Exists(System.Web.Hosting.HostingEnvironment.MapPath(pathToFile)))
                    {
                        pathToFile = "~/Content/images/profile/Default.png";
                    }
                    var imgUrl = Url.Content(pathToFile) + "?time=" + DateTime.Now.ToString();
                }
                <img src="@imgUrl" height="50" width="50" />
            </li>
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
       }
    }
  else
      {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { ReturnUrl = this.Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
        <li>@*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@</li>
    </ul>
}
