@model Forum.Models.ProfileViewModel
@using System.Web.ApplicationServices
@using Microsoft.AspNet.Identity

<div class="modal-body"> 
    
    <dl>
        <dt></dt>
        <dd>
            @if (Model.UserName != null)
            {
                var pathToFile = "~/Content/images/profile/" + Model.UserName + "/" + Model.UserName + ".png";
                if (!File.Exists(System.Web.Hosting.HostingEnvironment.MapPath(pathToFile)))
                {
                    pathToFile = "~/Content/images/profile/Default.png";
                }
                var imgUrl = Url.Content(pathToFile) + "?time=" + DateTime.Now.ToString();
                <div class="accimg">
                    <img src="@imgUrl" height="250" width="250" />
                </div>
            }
        </dd>
        <dt>UserName: </dt>
        <dd>@Model.UserName</dd>
        <dt>FisrName: </dt>
        <dd>@Model.FirstName</dd>
        <dt>LastName: </dt>
        <dd>@Model.LastName</dd>
        <dt>MmberGroup: </dt>
        <dd>@Model.UserRole</dd>
        <dt>Online status: </dt>
        @if (Model.OnlineStatus)
        {
            <dd>Online</dd>
        }
        else
        {<dd>Offline</dd> }        
    </dl>

        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" id="approve-btn" class="btn btn-danger">Close</button>
            </div>
        </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>