@model Forum.Models.PostViewModel
@using Forum.Models
@{
    ViewBag.Title = "AddCategoryToPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddCategoryToPost", "Forum", FormMethod.Post, new { @class = "addCatForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <table class="addCatCont">
        <tr>
            <td><a href="@Url.Action("AddNewCategory", "Forum", new { postid = Model.Id, callfrompost = true})" 
                   class="addremoveBtn" title="Add Category"><img src="@Url.Content("~/Content/images/post/add.png")" width="25" height="25" alt="add" /></a></td>
            <td><= Add New Category</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @for (int i = 0; i < Model.Categories.Count(); i++)
                {
                    ForumDbContext db = new ForumDbContext();
                    int catId = Model.Categories[i].Id;
                    bool check = db.PostCategories.Where(x => x.CategoryId == catId && x.PostId == Model.Id).Select(x => x.Checked).FirstOrDefault();
                    if (check)
                    {
                        Model.Categories[i].Checked = true;
                        @Html.CheckBoxFor(m => m.Categories[i].Checked)
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.Categories[i].Checked)
                    }

                    @Html.LabelFor(m => m.Categories[i].Checked, Model.Categories[i].Name)
                    @Html.HiddenFor(m => m.Categories[i].Id)<br />
                }
            </td>
        </tr>
    </table>
    <br/>
    <table align="center" style="width:200px">
        <tr>
            <td>
                @Html.TextBoxFor(m => m.Id, new { type = "hidden" })
                <input class="btn btn-default" type="submit" value="Add Category" />
                
                <input type="button" value="Cancel" onclick="location.href='@Url.Action("EditPost", "Forum", new { slug = Model.UrlSeo })'" class="btn btn-default" style="float:right" />
            </td>
        </tr>
    </table>
}
