@model IList<Forum.Models.CommentViewModel>
@using Forum.Controllers
@using Microsoft.AspNet.Identity

@foreach (var childReply in Model)
{
    if (childReply != null)
    {
        ForumController forumCtrl = new ForumController();
        var crDetails = forumCtrl.ReplyDetails(childReply.Id);
        var likes     = forumCtrl.LikeDislikeCount("replylike", childReply.Id);
        var dislikes  = forumCtrl.LikeDislikeCount("replydislike", childReply.Id);        

        <div class="childReply" id="@crDetails[4]">
            <div class="childReplyCont" id="@crDetails[5]">
                <table class="commentControl" id="@crDetails[12]">
                    <tr>
                        <td><a class="commentExpCtrl" id="@crDetails[8]" style="font-size:10px;">&mdash;</a></td>
                        <td>|</td>
                        <td><a class="commentFlagCtrl"><img src="@Url.Content("~/Content/images/post/report.png")" width="10" height="10" alt="report" /></a></td>
                    </tr>
                </table>
                <div class="userImage"><img src="@crDetails[1]" height="50" width="50" /></div>
                <div class="commentUserName"><strong>@crDetails[0]</strong>&nbsp;&nbsp;<span class="cmntTime">-- @crDetails[2]</span></div>
                <div class="commentDate">@crDetails[3]</div>
                @if (childReply.EditTime != null){<div class="commentEditDate"><p>Edited: @childReply.EditTime</p></div>}
                @if (childReply.EditedBy != null){<div class="commentEditedBy"><p>EditedBy: @childReply.EditedBy</p></div>}

                <div class="commentExp" id="@crDetails[7]">
                    <div class="commentBody">@Html.Raw(childReply.Body)</div>
                    @if (!forumCtrl.ReplyDeleteCheck(childReply.Id))
                    {
                        <div class="replySubMenu">
                            @if (Request.IsAuthenticated)
                            {
                                <a class="likecount" style="color:green;">@likes</a>
                                if (childReply.UserName == User.Identity.GetUserName())
                                {
                                    <a href="@Url.Action("UpdateReplyLike", "Forum", new { replyid = childReply.Id,username = User.Identity.GetUserName(), likeordislike = "like" })" style="pointer-events:none"><img src="@Url.Content("~/Content/images/post/like.png")" alt="like" /></a>
                                    <a href="@Url.Action("UpdateReplyLike", "Forum", new { replyid = childReply.Id,username = User.Identity.GetUserName(), likeordislike = "dislike" })" style="pointer-events:none"><img src="@Url.Content("~/Content/images/post/dislike.png")" alt="dislike" /></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("UpdateReplyLike", "Forum", new { replyid = childReply.Id,username = User.Identity.GetUserName(), likeordislike = "like" })"><img src="@Url.Content("~/Content/images/post/like.png")" alt="like" /></a>
                                    <a href="@Url.Action("UpdateReplyLike", "Forum", new { replyid = childReply.Id,username = User.Identity.GetUserName(), likeordislike = "dislike" })"><img src="@Url.Content("~/Content/images/post/dislike.png")" alt="dislike" /></a>
                                }
                                <a class="likecount" style="color:red;">@dislikes</a>
                                <a style="cursor:pointer;" class="comReplyParent" id="@crDetails[11]">Reply</a>
                            }
                            else if (!Request.IsAuthenticated)
                            {
                                <table>
                                    <tr>
                                        <td><a class="likecount" style="color:green;">@likes</a></td>
                                        <td><img src="@Url.Content("~/Content/images/post/like.png")" alt="like" /></td>
                                        <td><img src="@Url.Content("~/Content/images/post/dislike.png")" alt="dislike" /></td>
                                        <td><a class="likecount" style="color:red;">@dislikes</a></td>
                                    </tr>
                                </table>
                            }                    

                            <table class="commentMenu" id="@crDetails[13]">
                                @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || childReply.UserName == User.Identity.GetUserName())
                                {
                                    <tr>
                                        <td><a href="@Url.Action("EditReply", "Forum", new { replyid = childReply.Id })" title="Edit"><img src="@Url.Content("~/Content/images/post/edit.png")" alt="edit" /></a></td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                        {
                                            <td><a href="@Url.Action("DeleteReply", "Forum", new { replyid = childReply.Id })" title="Delete"><img src="@Url.Content("~/Content/images/post/delete.png")" alt="delete" /></a></td>
                                        }
                                    </tr>
                                }
                            </table>

                        </div>
                        if (Request.IsAuthenticated)
                        {                           
                            var pathToFile = "~/Content/images/profile/" + User.Identity.GetUserName() + "/" + User.Identity.GetUserName() + ".png";
                            if (!File.Exists(System.Web.Hosting.HostingEnvironment.MapPath(pathToFile)))
                            {
                                pathToFile = "~/Content/images/profile/Default.png";
                            }
                            var imgUrl = Url.Content(pathToFile) + "?time=" + DateTime.Now.ToString();
                            <table class="newComment collapseComment">
                                <tr>
                                    <td style="width:50px;vertical-align: top;"><div class="comImg"><img src="@imgUrl" height="50" width="50" /></div></td>

                                    <td style="vertical-align:middle; min-height:40px;" class="comText" id="@crDetails[9]">
                                        @using (Html.BeginForm("NewChildReply", "Forum", FormMethod.Post, new { @class = "comTextdivParent", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <textarea name="replyBody" id="@crDetails[10]"></textarea>
                                            <script>
                                                $(document).ready(function () {
                                                    TinyMceEditConfig('@crDetails[10]');
                                                });                                        
                                            </script>
                                            <div class="comTextSub">
                                                <input type="hidden" value="@childReply.Id" name="preplyid" id="preplyid" />
                                                <input type="hidden" value="@User.Identity.GetUserName()" name="comUserName" id="comUserName" />
                                                <input class="comTextBtn" type="submit" value="&#x27a5;" />
                                            </div>
                                        }
                                       
                                    </td>
                                </tr>
                            </table>
                        }
                    }

                </div>
            </div>
            <div class="commentreplies" id="@crDetails[6]">
                @if (childReply.ChildReplies != null)
                {
                    if (childReply.ChildReplies.Count > 0)
                    { Html.RenderPartial("ChildReplies", childReply.ChildReplies); }
                }
            </div>
        </div>
    }
}
