@model Forum.Models.CommentViewModel
@using Forum.Controllers
@using Microsoft.AspNet.Identity

@{
    ForumController forumCtrl = new ForumController();
    var parentReplies = Model.Comment.Replies;
    if (parentReplies != null)
    {
        foreach (var parentReply in parentReplies)
        {
            if (parentReply.ParentReplyId == null)
            {
                var prDetails = forumCtrl.ReplyDetails(parentReply.Id);
                var likes     = forumCtrl.LikeDislikeCount("replylike", parentReply.Id);
                var dislikes  = forumCtrl.LikeDislikeCount("replydislike", parentReply.Id);                

                <div class="parentReply" id="@prDetails[4]">
                    <div class="mainreply" id="@prDetails[5]">
                        <table class="commentControl" id="@prDetails[12]">
                            <tr>
                                <td><a class="commentExpCtrl" id="@prDetails[8]" style="font-size:10px;">&mdash;</a></td>
                                <td>|</td>
                                <td><a class="commentFlagCtrl"><img src="@Url.Content("~/Content/images/post/report.png")" width="10" height="10" alt="report" /></a></td>
                            </tr>
                        </table>
                        <div class="userImage"><img src="@prDetails[1]" height="50" width="50" /></div>
                        <div class="commentUserName"><strong>@prDetails[0]</strong>&nbsp;&nbsp;<span class="cmntTime">-- @prDetails[2]</span></div>
                        <div class="commentDate">@prDetails[3]</div>
                        @if (parentReply.EditTime != null){<div class="commentEditDate"><p>Edited: @parentReply.EditTime</p></div>}
                        @if (parentReply.EditedBy != null){<div class="commentEditedBy"><p>EditedBy: @parentReply.EditedBy</p></div>}

                        <div class="commentExp" id="@prDetails[7]">
                            <div class="commentBody">@Html.Raw(parentReply.Body)</div>

                            @if (!forumCtrl.ReplyDeleteCheck(parentReply.Id))
                            {
                                <div class="replySubMenu">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a class="likecount" style="color:green;">@likes</a>
                                        if (parentReply.UserName == User.Identity.GetUserName())
                                        {
                                            <a href="@Url.Action("UpdateReplyLike", "Forum", new { replyid = parentReply.Id,username = User.Identity.GetUserName(), likeordislike = "like" })" style="pointer-events:none"><img src="@Url.Content("~/Content/images/post/like.png")" alt="like" /></a>
                                            <a href="@Url.Action("UpdateReplyLike", "Forum", new { replyid = parentReply.Id,username = User.Identity.GetUserName(), likeordislike = "dislike" })" style="pointer-events:none"><img src="@Url.Content("~/Content/images/post/dislike.png")" alt="dislike" /></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("UpdateReplyLike", "Forum", new { replyid = parentReply.Id,username = User.Identity.GetUserName(), likeordislike = "like" })"><img src="@Url.Content("~/Content/images/post/like.png")" alt="like" /></a>
                                            <a href="@Url.Action("UpdateReplyLike", "Forum", new { replyid = parentReply.Id,username = User.Identity.GetUserName(), likeordislike = "dislike" })"><img src="@Url.Content("~/Content/images/post/dislike.png")" alt="dislike" /></a>
                                        }
                                        <a class="likecount" style="color:red;">@dislikes</a>
                                        <a style="cursor:pointer;" class="comReplyParent" id="@prDetails[11]">Reply</a>
                                    }
                                    else if (!Request.IsAuthenticated)
                                    {
                                        <table>
                                            <tr>
                                                <td><a class="likecount" style="color:green;">@likes</a></td>
                                                <td><img src="@Url.Content("~/Content/images/post/like.png")" alt="like" /></td>
                                                <td><img src="@Url.Content("~/Content/images/post/dislike.png")" alt="dislike" /></td>
                                                <td><a class="likecount" style="color:red;">@dislikes</a></td>
                                            </tr>
                                        </table>
                                    }
                             
                                <table class="commentMenu" id="@prDetails[13]">
                                @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || parentReply.UserName == User.Identity.GetUserName())
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("EditReply", "Forum", new { replyid = parentReply.Id })" title="Edit"><img src="@Url.Content("~/Content/images/post/edit.png")" alt="edit" /></a></td>
                                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                            {
                                                <td><a href="@Url.Action("DeleteReply", "Forum", new { replyid = parentReply.Id })" title="Delete"><img src="@Url.Content("~/Content/images/post/delete.png")" alt="delete" /></a></td>
                                            }                                            
                                        </tr>
                                     }                               
                                  </table> 
                                </div>

                                if (Request.IsAuthenticated)
                                {                                    
                                    var pathToFile = "~/Content/images/profile/" + User.Identity.GetUserName() + "/" + User.Identity.GetUserName() + ".png";
                                    if (!File.Exists(System.Web.Hosting.HostingEnvironment.MapPath(pathToFile)))
                                    {
                                        pathToFile = "~/Content/images/profile/Default.png";
                                    }
                                    var imgUrl = Url.Content(pathToFile) + "?time=" + DateTime.Now.ToString();
                                    <table class="newComment collapseComment">
                                        <tr>
                                            <td style="width:50px;vertical-align: top;"><div class="comImg"><img src="@imgUrl" height="50" width="50" /></div></td>

                                            <td style="vertical-align:middle; min-height:40px;" class="comText" id="@prDetails[9]">
                                                @using (Html.BeginForm("NewChildReply", "Forum", FormMethod.Post, new { @class = "comTextdivParent", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <textarea name="replyBody" id="@prDetails[10]"></textarea> @*id="@prDetails[13]">*@
                                                    <script>
                                                    $(document).ready(function() {
                                                        TinyMceEditConfig('@prDetails[10]');
                                                    });
                                                    </script>                                    
                                                    <div class="comTextSub">
                                                        <input type="hidden" value="@parentReply.Id" name="parentReplyid" id="parentReplyid" />
                                                        <input type="hidden" value="@User.Identity.GetUserName()" name="comUserName" id="comUserName" />
                                                        <input class="comTextBtn" type="submit" value="&#x27a5;" />
                                                    </div>
                                                }
                                                
                                            </td>
                                        </tr>
                                    </table>
                                }
                            }

                        </div>
                    </div>
                    <div class="commentreplies" id="@prDetails[6]">
                        @{
                            Model.ChildReplies = forumCtrl.GetChildReplies(parentReply);
                            Html.RenderPartial("ChildReplies", Model.ChildReplies);
                        }
                    </div>
                </div>
            }
        }
    }
}
